<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>storeProjectht</display-name>
  <!-- 下面的welcome-file-list 元素有和没有都可以，只要在webapp下面有名为index的文件就可以在项目启动后
  直接通过访问项目名称来访问index页面-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 类目servlet -->
  <servlet>
  <servlet-name>categoryht</servlet-name>
  <servlet-class>com.xiaojihua.web.CategoryServletHt</servlet-class>
</servlet>

  <servlet-mapping>
    <servlet-name>categoryht</servlet-name>
    <url-pattern>/categoryht</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>productht</servlet-name>
    <servlet-class>com.xiaojihua.web.ProductServletHt</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>productht</servlet-name>
    <url-pattern>/productht</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>com.xiaojihua.web.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>

  <!-- 请求和响应乱码过滤器-->
  <filter>
    <filter-name>encodingHt</filter-name>
    <filter-class>com.xiaojihua.filter.MyFilterHt</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>encodingHt</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
